<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--重庆184-->
<div style='float:left;width:100%;color:red;text-align: center;height:34px;font-size:17pt;line-height: 34px;'> 打气气泡果汁：8元/瓶　　蓑衣米酒<span style='font-size: 13pt;'> 桂花精酿</span>：28元/瓶</div>
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size: 24pt;height:45px;line-height:45px;'>&lt;重庆江小白系列&gt;</div>
<div style='float:left;width: 248px;padding-left: 40px;text-align: left;color: #0187D0;line-height: 35px;'>
    <div>S100：22元/瓶</div>
    <div>S300：58元/瓶</div>
    <div>青春版：88元/瓶</div>
</div>
<div style='float:left;width: 288px;text-align: right;color: #0187D0;'>
    <div>黑 标<span style='font-size: 13pt;'> 桂花精酿</span>：68元/瓶</div>
    <div>拾人饮酒王：398元/瓶</div>
</div>
<!--广州150-->
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size: 24pt;height:45px;'><重庆江小白系列></div>
<div style='float:left;width: 248px;padding-left: 40px;text-align: left;color: #0187D0;height:105px;'>
    <div>S100：20元/瓶</div>
    <div>S300：55元/瓶</div>
    <div>金奖版：88元/瓶</div>
</div>
<div style='float:left;width: 288px;text-align: left;color: #0187D0;'>
    <div>铁盒X3  158元</div>
    <div> 蓑衣米酒<span style='font-size: 13pt;'> 桂花精酿</span>：25元/瓶</div>
</div>
<!--江西115-->
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size: 24pt;height:45px;'><重庆江小白系列></div>
<div style='float:left;width: 248px;padding-left: 40px;text-align: left;color: #0187D0;height:70px;'>
    <div>S100：22元/瓶</div>
    <div>S300：52元/瓶</div>
</div>
<div style='float:left;width: 288px;text-align: left;color: #0187D0;height:'>
    <div>青春版：88元/瓶</div>
    <div> 蓑衣米酒<span style='font-size: 13pt;'> 桂花精酿</span>：25元/瓶</div>
</div>
<!--浙江150-->
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size: 24pt;height:45px;'><重庆江小白系列></div>
<div style='float:left;width: 248px;padding-left: 40px;text-align: left;color: #0187D0;height:105px;'>
    <div>S100：22元/瓶</div>
    <div>S300：55元/瓶</div>
    <div>青春版：88元/瓶</div>
</div>
<div style='float:left;width: 288px;text-align: left;color: #0187D0;'>
    <div>单纯高粱酒300ml  48元</div>
    <div>蓑衣米酒<span style='font-size: 13pt;'> 桂花精酿</span>：28元/瓶</div>
</div>





/******************************/
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size:35pt;height:68px;'>重庆江小白系列</div>
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size:26pt;height:90px;'>S100：20元/瓶　　　　S300：55元/瓶</div>


/************************************************************/
新版底部
<div style='float:left;width:100%;color:#008cd6;text-align: center;font-size:35pt;height:68px;'>江记酒庄出品|江小白系列</div>
<div style='float:left;width:100%;color:#008cd6;text-align: center;font-size:26pt;height:90px;'>S100：22元/瓶      S300：55元/瓶      金奖青春版500ml:88元/瓶</div>
<div style='float:left;width:100%;color:#008cd6;text-align: center;font-size:26pt;height:90px;'>江小白淡饮168ml：22元/瓶        江小白果味168ml:22元/瓶</div>

<span style='font-size:34px;'>乱</span>炒香辣虾
<span style='font-size:34px;color:rgb(251,51,51);'>发</span>香竹笋鸡

<!--A3蓑衣米酒竖版-->
<div style='float:left;width:100%;color:#0187D0;text-align: center;font-size: 33pt;height:60px;'><重庆江小白系列></div>
<div style='float:left;width: 50%;text-align: center;color: #0187D0;height:190px;'>
    <div>100ml：22元/瓶</div>
    <div>300ml：58元/瓶</div>
    <div>青春版：88元/瓶</div>
</div>
<div style='float:left;width: 50%;text-align: left;color: #0187D0;'>
    <div>单纯高粱酒300ml  48元</div>
    <div>蓑衣米酒<span style='font-size: 13pt;'> 桂花精酿</span>：28元/瓶</div>
</div>



{if isset($k)}
{if $k%2 ==0}padding-right:85px;{else}padding-left:85px;{/if}
{else if isset($all.k)}
{if $all.k%2 ==0}padding-right:85px;{else}padding-left:85px;{/if}
{/if}
<!doctype html>
<html>
<head><base href="http://yl.com/m/designprint/sceneStandard/page_id/37021/scene_id/"/>
    <meta charset="utf-8">
    <title>趙记食尚香锅坊</title>
    <script type="text/javascript" src="/static/module/common/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/static/module/admin/js/jquery.print.js" ></script>
    <script  src="/static/module/admin/js/jquery.print.js" ></script>
    <script src="/static/module/admin/js/LodopFuncs.js"></script>
</head>
<link rel="stylesheet" href="/static/module/admin/css/print_style_test.css?4" />
<style>
    .titlename {
        color: #ffffff;
        height: 188px;
        font-size: 58pt;
        letter-spacing: 0.3em;
        background: url("/static/module/common/jxb/img/top.jpg") no-repeat 0px 0px;
        background-size:960px 188px;
    }
    @page {
        margin: 2mm;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }
    }
    @media print {
        #print{
            display: none;
        }
    }
    .shupai1{
        font-family: "思源黑体 CN";
        color:#0187D0;
        text-align:center;
        width: 15pt;
        font-size: 15pt;
        word-wrap: break-word;
        margin:auto;
        padding-top:26mm;
        font-weight: bold;
    }
    .yema1{
        font-family: "思源黑体 CN";
        color:#0187D0;
        text-align:center;
        width: 60px;
        font-size: 11pt;
        font-weight: bold;
        margin-bottom:-7mm;
    }
</style>
<body class="alldata" style="background-color: white;"><script>window.alert = null;window.confirm = null;window.open = null;window.showModalDialog = null;</script>
<div class="container" style="page-break-after:always;font-family: '思源黑体 CN';width:210mm;height:297mm;padding-right:85px;">
    <div style="margin-top:8mm;float:right;margin-right:-61px;">
        <div class="yema1">2页</div>
        <div style="border-radius: 10px;border: none;width: 16mm;height: 16mm;padding-top:7mm;">
            <img src="/upload/extend/qrcode/20190515/ee5ec206205d7e3022f8c25a379bb1f0.png" width="60" height="60" style="z-index: -1;position: absolute;"/>
        </div>
        <div class="shupai1">
            <label>湖北市场  宜昌　共5份，每份8张　业务员：李炜</label>
        </div>
    </div>
    <div style="color:#0187D0;letter-spacing:0.3em;font-size: 48pt;margin-top:35px;text-align: center; height: 116px;">趙记食尚香锅坊</div>
    <div class="content" style="display: table;width:210mm;">
        <div style="width:100%;height:1069px;float: left;display: block;">
            <div class="colm" style="width:98%;height:1069px;">
                <ul>
                    <li style="width:50%">
                        <img src="/upload/picture/20180930/20177bbfda86eeeadeb408a1e6dfa761.jpg" width="350" height="280" />
                        <span style="height:150px;text-align: center; padding-left: 30px;padding-right: 30px;font-size:0pt;color:#000">
                                            拍蒜肥肠                                        </span>
                    </li>
                    <li style="width:50%">
                        <img src="/upload/picture/20180930/a2e8c8a088a622120bc6f3d0465d6663.jpg" width="350" height="280" />
                        <span style="height:150px;text-align: center; padding-left: 30px;padding-right: 30px;font-size:0pt;color:#000">
                                            鲜青椒焖鲍鱼                                        </span>
                    </li>
                    <li style="width:50%">
                        <img src="/upload/picture/20180930/026f2c27df366e37ca19775f63b9e432.jpg" width="350" height="280" />
                        <span style="height:150px;text-align: center; padding-left: 30px;padding-right: 30px;font-size:0pt;color:#000">
                                            姜辣鸭掌                                        </span>
                    </li>
                    <li style="width:50%">
                        <img src="https://cd.yanlincm.com/upload/picture/20180519/4107cd56ccd1d7bbafc683bb05015768.jpg" width="350" height="280" />
                        <span style="height:150px;text-align: center; padding-left: 30px;padding-right: 30px;font-size:0pt;color:#000">
                                            酸菜鱼火锅                                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style='height:150px'>
        <div style="float: right;width: 500px;padding-left: 20px;padding-right:80px;padding-top: 20px;font-size: 20pt;color: #D72C0D;text-align: right;">
        </div>
        <div style="font-size: 13pt;width: 300px;text-align: left;margin-left: 100px;padding-top: 40px;color: #0187D0;">图片仅供参考 一切以实物为准</div>
        <div  style="padding-left: 100px;display: table;float: left;margin-top: 30px;">
            <img src="/static/module/common/jxb/img/bottom_left.jpg" width="210">
        </div>
    </div>
</div>
</div>
</body>
</html>
<script>
    window.onload=function () {
        designprint(10021,37021);
    }
    function designprint(scene_id,page_id)
    {
        $.ajax({
            type: "post",
            url: '/m/designprint/sceneStandard',
            data: {scene_id: scene_id,page_id:page_id},
            dataType: "json",
            success: function (data) {
                // $(".container").print();
                create_mulitpage(data,page_id);
            }
        })
    }
    function create_mulitpage(str,page_id)
    {
        var LODOP = getLodop();
        LODOP.PRINT_INIT("菜单打印");
        var length = page_id.length * 2970;
        LODOP.SET_PRINT_PAGESIZE(1, "2100",length, "A4")
        // LODOP.SET_PRINT_MODE("PRINT_PAGE_PERCENT","Full-Page")
        // LODOP.ADD_PRINT_HTML(0, 0, "210", "2970", str);
        LODOP.ADD_PRINT_IMAGE(0, 0, "100%", "100%",str);
        LODOP.SET_PRINT_STYLEA(0,"Stretch",1);
        //LODOP.SET_PRINTER_INDEX(getSelectedPrintIndex());
        // LODOP.PRINT();
        LODOP.PRINT_DESIGN();
        // LODOP.PREVIEW();
    }
</script>

</body>
</html>



<!--                            {volist name='vo.category' id = 'category'}-->
<!--                            {if $category.content!=''}-->
<!--                            <div style="float:left;width:{$vo.width}px;letter-spacing:0.4em;color:{$category.top_classify_color|default='#0187D0'};text-align: left;font-size: {$category.classify_fontsize|default='24pt'}pt;line-height:{$vo.classify_height}px;height:{$vo.classify_height}px;">-->
<!-- -->
<!--                                <div style="height: 1px;border-top: 2px solid #0187d0;text-align: left;margin-top: 30px;margin-left: 42px;margin-right: 32px;">-->
<!--                                   <div style=" position: relative;top: -22px;left: -42px;background: #fff;margin-left: 30px;width: fit-content;padding-right: 30px;height: 30px;"> -->
<!--                                    <div style="background: #fff;border-radius: 15px; border: 2px #0187d0 solid; padding: 6px 6px 6px 16px;height: inherit;">-->
<!--                                    <span style="position: relative;top: -15px;">-->
<!--                                        {$category.content|default= ''}-->
<!--                                       {if $category.dish_second_name}-->
<!--                                            <span style="font-size:{$category.dish_second_fontsize|default='22'}pt;letter-spacing:0;">{$category.dish_second_name}</span>-->
<!--                                            {/if}-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                             </div>-->
<!--                            {/if}-->
<!--                            &lt;!&ndash;<div style="{if $category.padding_left!=''}padding-left:{$category.padding_left}em;{if $category.padding_right!=''}padding-right:{$category.padding_right}em;{else/}padding-right:3em;{/if}{else/}{if $category.list_num==1}{if $category.is_price==0}padding-left:20em;{else/}padding-left: 9em;padding-right: 12em;{/if}{elseif $category.list_num==2 /}{if $category.is_price==0}padding-left:9em;{else/}padding-left: 2em;padding-right: 4em; {/if}{else/}{if $category.is_price==0}padding-left: 20mm;{else/}padding-left: 0;{/if}padding-right: 2em;{/if}{/if}">&ndash;&gt;-->
<!--                                {if in_array($category.tpl_id,$tpl_ids)}-->
<!--                                <div style="padding:0px;">-->
<!--                                    {else}-->
<!--                                    <div style="{if $category.padding_left!=''}padding-left:{$category.padding_left}em;{if $category.padding_right!=''}padding-right:{$category.padding_right}em;{else/}padding-right:0em;{/if}{else/}{if $category.list_num==1}{if $category.is_price==0}padding-left:0em;{else/}padding-left: 0em;padding-right: 0em;{/if}{elseif $category.list_num==2 /}{if $category.is_price==0}padding-left:0em;{else/}padding-left: 0em;padding-right: 0em; {/if}{else/}{if $category.is_price==0}padding-left: 0mm;{else/}padding-left: 0;{/if}padding-right: 0em;{/if}{/if}">-->
<!--                                        {/if}-->
<!--                                {if isset($category.is_horizontal)&&$category.is_horizontal == 2}-->
<!--                                        {volist name='category.data' id='v'}-->
<!--                                        <div style="float: left;width:{$category.list_num_style}%;">-->
<!--                                        {volist name='v' id='vt'}-->
<!--                                        <div class="code" style="float: left;width:100%;min-height: 20px;color: #000; height: {$vo.hanggao}px;line-height:{$vo.hanggao}px;">-->
<!--                                            <ul >-->
<!--                                                <li class="name"  style="{if $vo.hanggao}height: {$vo.hanggao}px;{/if}{if $category.is_align==1}text-align: justify;width:{$category.align_width};{/if}font-size:{$vt.dish_fontsize|default='20'}pt;color:{$vt.dish_color|default='#000'} ">-->
<!--                                                    {$vt.dish_name} {if $vt.dish_second_name}<span style="font-size: {$vt.dish_second_fontsize|default='20'}pt;color:{$vt.dish_color|default='#000'}">{$vt.dish_second_name}</span>{/if} {if $category.is_align==1}<i style="width: 100%;display: inline-block;"></i>{/if}-->
<!--                                                    {if isset($vt.icon_num)&&$vt.icon_num}{for start=1 end="$vt.icon_num"}<embed src="{$vt.kg.icon_url}" style="height: {$vt.kg.kg};margin-left:5px;margin-bottom:{$vt.kg.bottom};">{/for}{/if}-->
<!--                                                </li>-->
<!--                                                {if $category.is_price==1}<li class="price" style="font-size:{$vt.price_fontsize|default='20'}pt;color:{$vt.dish_color|default='#000'};padding-right:40px;">{$vt.price_name}{if $vt.is_square==1}<div style="color:#000;border:2px solid #000;display: inline;padding:0px {$vt.square_height|default='30'}px 0px 0px;margin-left:30px;"><span></span></div>{/if}</li>{/if}-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                        {/volist}-->
<!--                                        </div>-->
<!--                                        {/volist}-->
<!--                                        {else}-->
<!--                                        {volist name='category.data' id='v'}-->
<!--                                        <div class="code" style="float: left;width:{$category.list_num_style}%;min-height: 20px;color: #000; height: {$vo.hanggao}px;line-height:{$vo.hanggao}px;">-->
<!--                                            <ul >-->
<!--                                                <li class="name"  style="{if $category.is_align==1}text-align: justify;width:{$category.align_width};{/if}font-size:{$v.dish_fontsize|default='20'}pt;color:{$v.dish_color|default='#000'}">{$v.dish_name} {if $v.dish_second_name}<span style="font-size: {$v.dish_second_fontsize|default='20'}pt;color:{$v.dish_color|default='#000'}">{$v.dish_second_name}</span>{/if} {if $category.is_align==1}<i style="width: 100%;display: inline-block;"></i>{/if}</li>-->
<!--                                                {if isset($v.icon_num)&&$v.icon_num}{for start=1 end="$v.icon_num"}<embed src="{$v.kg.icon_url}" style="height: {$v.kg.kg};margin-left:5px;margin-bottom:{$v.kg.bottom};">{/for}{/if}-->
<!--                                                {if $category.is_price==1}<li class="price" style="font-size:{$v.price_fontsize|default='20'}pt;color:{$v.dish_color|default='#000'};padding-right:40px;">{$v.price_name}{if $v.is_square==1}<div style="color:#000;border:2px solid #000;display: inline;padding:0px {$v.square_height|default='30'}px 0px 0px;margin-left:30px;"><span></span></div>{/if}</li>{/if}-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                        {/volist}-->
<!--                                        {/if}-->

<!--                            </div>-->
<!--                            {/volist}-->
<!--                            </div>-->